html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: block; }
  html #full, body #full {
    background: darkslategray;
    height: 100%;
    margin: 0 6%; }

aside#left {
  background-color: #fafafa;
  float: left;
  Height: 100%;
  width: 15%; }
  aside#left div#form {
    background-color: #33bbff;
    height: 16%;
    display: block;
    vertical-align: middle; }
    aside#left div#form h1 {
      padding-top: 25%;
      color: #FFF;
      text-align: center;
      font-size: 1.488rem; }
  aside#left input:hover {
    background: #1199DD; }
  aside#left input {
    width: 100%;
    background: #22aaee;
    color: #fff;
    border: none;
    height: 5%;
    outline: 0;
    font-kerning: normal; }

aside#right {
  background-color: #0ea432;
  float: right;
  Height: 100%;
  width: 16%; }

.main {
  background-color: #FFF;
  Height: 100%;
  width: auto; }

/*# sourceMappingURL=index.css.map */
